---
layout: page
title: "About me"
description: "This is what I do."
header-img: "img/bass.jpg"
---

<h1>Hello. I'm Adrian.</h1>
<p>
I'm a Systems Engineer working for SalesLoft living in Cape Town, South Africa.
</p>

<p>
I love all things DevOps, and try make sure I surround myself with as much of it as possible.
I live and work in Cape Town, playing with the latest technology, like Docker and Kubernetes.
I have a passion for automating as much as possible, mostly because I'm lazy and would prefer a computer to do the task
for me.
</p>

<h2>Some of the things I do...</h2>

<h3>Cape Town DevOps Meetup</h3>
<p>
I'm one of the organisers of the <a href="https://meetup.com/Cape-Town-DevOps">Cape Town DevOps Meetup</a> group.
Our group has been running since June 2015, with a variety of local and international speakers. We meed somewhere in 
the CBD of Cape Town about once a month. 
</p>

<h3>DevOpsDays Cape Town</h3>
<p>
I'm on the team of people who brought <a href="https://devopsdays.org/events/2019-cape-town/welcome/">DevOpsDays</a>
to Cape Town in 2016.
We managed to pull together speakers from all over the globe, all of whom gave excellent talks to our Capetonian
audience.
We've pulled off four events thus far, and are hoping to keep running these.
</p>

<h3>DevOpsDays Core Organisers</h3>
I'm one of the members of the <a href="https://devopsdays.org">DevOpsDays</a> Core team. We are tasked to assist 
the global teams run their events successfully, in addition to onboarding new teams in new regions.
</p>

<h3>Bass guitar</h3>
<p>
One of my non-DevOps hobbies is to play the bass guitar. I own a small selection of Leo Fender made basses.
</p>
